transformers
tokenizers
datasets
huggingface_hub
trl
accelerate
peft
bitsandbytes
deepspeed
evaluate
sentence-transformers
sentencepiece
flash-attn>=2.5.8
einops
matplotlib
seaborn
scikit-learn
natsort
openpyxl
zipp
hydra-core
omegaconf
torchmetrics
decord
pytorchvideo
torchcodec
opencv-python
segment-anything
open_clip_torch
gradio
streamlit
wandb
fastapi
uvicorn
rich
packaging
